p{
    font-family: 'Dancing Script', cursive;
    font-size: medium;
    

}
html{
    background-image: url(https://lh3.googleusercontent.com/proxy/KJb72kyVU9-J4bGAoB5N5jTkyJtjp6je4e2aRPv2jaAk8aJbAX0hB2fipyB1PtcqwQbMUIlQU08fw8SO2A6QAonGejMNunk1q-PzYHgItBJti5ZUt2CNbYanQjdRAggLWHqW5kIXcvVSqKiMB8g2tPSKAA);
    background-size: cover;
}